/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "wowcorne.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

&i2c1 {
    status = "okay";
    cirque_trackpad: cirque@52 {
        compatible = "cirque,trackpad";
        reg = <0x52>;
        interrupt-parent = <&gpio0>;
       interrupts = <&gpio0 10 IRQ_TYPE_EDGE_FALLING>;
    };
};

&gpio0 {
    status = "okay";
    // 여기에 gpio 관련 설정 추가가 필요할 수 있습니다.
};

&cirque_trackpad {
    compatible = "zmk,sensor-mouse";
    status = "okay";
    mode = "relative";  // 마우스처럼 동작하도록 설정
    edge_scroll = <1>;  // 가장자리에서 스크롤 활성화
};
